<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Datafari</display-name>
	<servlet>
		<servlet-name>DatafariProxy</servlet-name>
		<servlet-class>com.francelabs.datafari.servlets.DatafariProxy</servlet-class>
		<init-param>
			<param-name>log</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>targetUri</param-name>
			<param-value>http://192.168.0.75:8080/datafari-solr/FileShare</param-value>
		</init-param>
		<init-param>
			<param-name>domain</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatafariProxy</servlet-name>
		<url-pattern>/FileSearch/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>messages</param-value>
	</context-param>
	<listener>
		<listener-class>org.apache.manifoldcf.crawlerui.ServletListener</listener-class>
	</listener>

</web-app>