.search-view-header {
	display: flex;
}

#status-div {
	height: 2.5em;
}
 
#search_information {
	display: flex;
	justify-content: left;
	align-items: flex-end;
	width: 50%;
}

#results_action {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
}

#searchBar {
	align-items: center;
	justify-content: left;
}

#search-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

#requestName {
	font: caption;
	box-sizing: unset;
}