@media (min-width: 800px) {
	.navbar-header {
	 display: none;
	}
}

.sub-btn {
  padding: 10px;
  border: 0;
}

.open > a.sub-btn, .open > a.sub-btn:hover, .open > a.sub-btn:focus, .open > a.sub-btn:active:focus {
  background-color: transparent;
  color: #6B956F;
}

.sub-btn:active {
  box-shadow: none;
}

.sub-btn:focus, .sub-btn:active:focus {
  outline: none;
}

.sub-btn:hover {
  color: #6B956F;
}

#header-menu, .container-fluid {
  padding: 0;
}

.head-title {
  background-image: url("../images/patern-barre.png");
  background-position: center center;
  background-repeat: repeat-x;
  height: 23px;
  margin-left: 0 !important;
  margin-bottom: 20px !important; 
}

.header-sub-menu-label {
	background-color: #FFF;
	display: inline-block;
	font-family: "HelveticaNeueW02-67MdCn 694060", Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 0;
	padding-right: 10px;
	width: auto;
}

#logo_desktop {
	display: inline-block;
  margin-left: 15.5%;
  margin-top: 0.5em;
}

#logo_desktop img{
  height: 3.6em;
}

@media all and (max-width: 799px){
    #logo_desktop {
      display: none;
    }
    
    #header-menu {
	    margin-left: 0px;
	    padding-left: 5px;
    }
    
    #search-tools-sub-menu{
      display: none;
    }
}
/*OVERWRITE the default pattern in new-style.css Line 1250*/
.dropdown-admin-second-main{
  margin-right: 0 !important;
  right: 3%;
}