body {
	
    height: 100%;
    margin: 0;
    width: 100%;
    height:100%;
    
    background-repeat:no-repeat !important;
    background: #FFFFFF;
    background-attachment: fixed;
	background: -webkit-linear-gradient(top, #ffffff 0%, #FFFFFF 60%) repeat
		scroll 0 0 transparent;
	background: -moz-linear-gradient(top, #F5F7C5 0%, #FFFFFF 60%) repeat
		scroll 0 0 transparent;
	background: -ms-linear-gradient(top, #F5F7C5 0%, #FFFFFF 60%) repeat
		scroll 0 0 transparent;
	background: -o-linear-gradient(top, #F5F7C5 0%, #FFFFFF 60%) repeat
		scroll 0 0 transparent;
}

header {
	background-color: #ffffff;
}
a {
	color: #3D3C3A;
}

#nav {
	background-color: #3D3C3A;
}

#content {
	background-color: #fffbfb;
	border-color: #7e7c78;
}

.page {
	background-color: white;
}

.page .player .title {
	color: white;
}

.page ul li a {
	color: #3d3c3a;
}

.page p a {
	color: #3d3c3a;
}

.page a:hover {
	color: #FF9BAA;
}

.page .block.first,.page .block.middle {
	border-bottom-color: #7E7C78;
}

.page .block .col.left {
	border-right-color: #7E7C78;
}

.title {
	color: #3d3c3a;
}

.news-title .date {
	color: #3d3c3a;
}

footer {
	background-color: #3D3C3A;
	border-top-color: #F5F7C7;
	color: #F5F7C7;
}

footer .links a {
	color: white;
}

#contactForm form [type=button] {
	color: #474D52;
	border-color: #D9D9D9;
	border-top-color: #A1A1A1;
}

#contactForm form [type=button]:hover {
	border-color: #A1A1A1;
}