Package: datafari
Version: 2.1
Section: base
Priority: optional
Architecture: all
Depends: bash,curl,debconf,unzip
Maintainer: France Labs (aurelien.mazoyer@francelabs.com)
Description: Datafari search solution
