Package: datafari
Version: 3.1.0
Section: base
Priority: optional
Architecture: all
Depends: bash,curl,debconf,unzip,sudo,libc6-dev, jq
Maintainer: France Labs (aurelien.mazoyer@francelabs.com)
Description: Datafari search solution
