#dsfm-creation_date-fromInput.fromInput {
	margin-right: 1em;
}

#dsfm-creation_date-toInput.toInput {
	margin-right: 0.2em;
}

.go {
	cursor: pointer; 
}

.date-format-error {
	color: red;
	font-weight: bold;
	display: none;
}

.date-input {
	max-width: 25%;
  margin-left: 0.5em;
  font: caption;
  box-sizing: unset;
  margin-bottom: 0.5em;
}