.backupRestoreOK {
	color: green;
}

.backupRestoreError {
	color: red;
}

.backupRestore-btn {
	margin: 15px;
	width: auto;
}

.formDiv {
  display: none;
}

.fa-info-circle{
  margin-left: 1em;
}

.feedback-message {
  text-align:center;
	display:none;
}
