.role{
	width:180px;
}
	
.inline_block .form-control{
	font-size:12px;
	cursor:default;
}

.delete_user{
	cursor:pointer;
}

.delete_user:hover{
 	color: #F58376;
}

.inline_block{
	display:inline-block;
	vertical-align:middle;
	margin-right:20px;
	margin-top:5px;
	margin-bottom:5px;
}

.inline_block .input-group-addon.delete{
	color:white;
	background: #F58376;
	cursor:pointer;
}

input{
	padding-left:10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

th{
	text-align:center;
}

#Message{
 	text-align:center
}

#Message.danger i{
	font-size: 3em;
	margin-bottom: 2%;
}

#Message.danger{
	color: #F00;
}
#Message{
	color : #929292;
}

.ui-dialog-titlebar.ui-widget-header{
	background:#F58376;
}

.success{
	color:green;
}

.dialogue{
	display:none;
}

.ui-widget-header,.ui-state-default, ui-button{
   background:#b9cd6d;
   border: 1px solid #b9cd6d;
   color: #FFFFFF;
   font-weight: bold;
}