.source-doc-link:hover, .source-doc-link:visited, .source-doc-link:active, .source-doc-link:focus {
  color: #666;
  text-decoration: none;
  outline: 0;
}

.doc-icon img {
  width: 50px;
  height: 50px;
}

.doc-icon{
  float:left;
  height: 5em;
  width: 4em;
  margin-right: 0.5em;
}

.heading-content{
  float:left;
}
.heading-content h1{
  margin:0px;
  font-weight: bold;
  font-size: 35px;
}
.heading-desc{
  font-size: 15px;
  margin-top: 0.2em;
}
.heading-date{
  float:left;
}

.heading-box{
  float: left;
  margin-left: 16px;
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}
.heading-box img{
    height: 13px;
}