Package: datafari
Version: 5.0
Section: base
Priority: optional
Architecture: all
Depends: bash,curl,debconf,unzip,sudo,libc6-dev,jq,apache2,libapache2-mod-jk,iptables,iptables-persistent,systemd
Maintainer: France Labs (support@francelabs.com)
Description: Datafari search solution
