Package: datafari
Version: 4.4.1
Section: base
Priority: optional
Architecture: all
Depends: bash,curl,debconf,unzip,sudo,libc6-dev, jq,lsof
Maintainer: France Labs (info@francelabs.com)
Description: Datafari search solution
