.tab-widget-ul li {
    height: 2.5em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0;
    cursor: pointer;
    height: 100%;
    border-left: 1px solid #9ea7aa;
    border-top: 1px solid #9ea7aa;
    min-width: 100px;
    text-align: center;
    background-color: #cfd8dc;
    border-bottom: 1px solid #9ea7aa;

}

.tab-widget-ul li:last-child {
    border-right: 1px solid #9ea7aa;
}

.tab-widget-ul li:hover {
    background-color: #a8c900;
}

.tab-widget-ul li.active, .tab-widget-ul li.active:hover {
    border-bottom: 2px solid #A8C900;
    background-color: white;
}

.tab-widget-ul li img {
    display: block;
    float: left;
    max-height: 1rem;
}

.tabs-container {
    display: flex;
}