.assign_role{
	display: none;
}

.role{
	width:180px;
}
	
.inline_block .form-control{
	font-size:12px;
	cursor:default;
}

.inline_block{
	display:inline-block;
	vertical-align:middle;
	margin-right:20px;
	margin-top:5px;
	margin-bottom:5px;
}

.inline_block .input-group-addon.delete{
	color:white;
	background: #F58376;
	cursor:pointer;
}

.warning{
	color: red;
	display: none;
}

input{
	padding-left:10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

th{
	text-align:center;
}

#Message{
 	text-align:center
}

#Message.danger i{
	font-size: 3em;
	margin-bottom: 2%;
}

#Message.danger{
	color: #F00;
}

#Message{
	color : #929292;
}

.ui-dialog-titlebar.ui-widget-header{
	background:#F58376;
}

.dialogue{
	display:none;
}

.ui-widget-header,.ui-state-default, ui-button{
          background:#b9cd6d;
          border: 1px solid #b9cd6d;
          color: #FFFFFF;
          font-weight: bold;
   }
   
#submit{
	text-transform:uppercase;
}

#message{
	display:none;
	text-align:center;
	margin-bottom:1%;
}

.error{
	color:red;
}

.success{
	color:green;
}

#ldap_activation{
	margin-left: auto;
	margin-bottom : 2%;
}

#userSubTree_activation{
	margin-left: 34%;
	margin-top: 0.3em;
	margin-bottom : 2%;
}

.box{
	padding-bottom : 5%;
}