/*
  ✰✰✰✰✰✰✰✰✰✰✰✰✰✰ 

  Simple Login Form
  HTML5/CSS3 Coded by: $hekh@r d-Ziner, CSSJunction.com
  PSD by:PremiumPixels.com
  
  Uuage: Free. You can modify, remove our links and use wherever you want ☺.
  
  ✰✰✰✰✰✰✰✰✰✰✰✰✰✰✰ 
  
*/
body{
		background: #F8FAD9;
}
.box
{
    background:#FDFDF1;
    border: 1px solid #DDE27C;
	border-top:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    color:#111111;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
	overflow:hidden;
}
.box.login
{
	height:260px;
    width:332px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-130px 0 0 -166px;
}
.boxBody
{
    background:#F0F0F0;
    border-top:1px solid #E7E0E8;
    border-bottom:1px solid #E7E0E8;
    padding:10px 20px;
}

.box footer
{
    border-top:1px solid #fff;
    padding:22px 26px;
    overflow:hidden;
	height:32px;
}
.box label
{
    display:block;
    font:14px/22px Arial, Helvetica, Sans-serif;
    margin:10px 0 0 6px;
}
.box footer label{
	float:left;
	margin:4px 0 0;
}
.box footer input[type=checkbox]{
	vertical-align:sub;
	*vertical-align:middle;
	margin-right:10px;
}
.box input[type=text],
.box input[type=password],
.txtField,
.cjComboBox
{
    border:6px solid #F0F0F0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #A2A2A2 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #A2A2A2 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #A2A2A2 inset;
    margin:3px 0 4px;
    padding:8px 6px;
    width:270px;
    display:block;
}
.box input[type=text]:focus,
.box input[type=password]:focus,
.txtField:focus,
.cjComboBox:focus
{
    border:6px solid #F8F9D8;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #FF7777 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #FF7777 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #FF7777 inset;
	color:#220300;
}
.cjComboBox
{
    width:294px;
}
.cjComboBox.small
{
    padding:3px 2px 3px 6px;
    width:100px;
    border-width:3px !important;
}
.txtField.small
{
    padding:3px 6px;
    width:200px;
    border-width:3px !important;
}

.rLink{padding:0 6px 0 0; font-size:11px; float:right;}
.box a{color:#FF7070;}
.box a:hover, .box a:focus{text-decoration:underline;}
.box a:active{color:#f84747;}
.btnLogin
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#FFD8F0;
    background:-moz-linear-gradient(top, #FFDDDD, #FFB2B2);
    background:-webkit-gradient(linear, left top, left bottom, from(#FFDDDD), to(#FFB2B2));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFDDDD', EndColorStr='#FFB2B2')";
    border:1px solid #FFB0CC !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#fff;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    float:right;
	padding:7px 21px;
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active{
    background:#FFD8F0;
    background:-moz-linear-gradient(top, #FFB2B2, #FFDDDD);
    background:-webkit-gradient(linear, left top, left bottom, from(#FFB2B2), to(#FFDDDD));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFB2B2', EndColorStr='#FFDDDD')";
}
.btnLogin:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

.invalid
{
    font:italic 14px/16px Arial, Helvetica, Sans-serif;
    color:#FF3F3F;
}
