/* Ajout responsif */
@media all   and (max-width : 800px){

#result_information { font-weight:bold; }

/**************************************/
/*******	>>> Widgets <<<		*******/
/**************************************/

.searchBarWidget .searchMode label { font-size: 90%; }

.collectionWidget .title { font-weight: bold; text-transform: uppercase; }
.collectionWidget .content li { font-size: 90%; }
.collectionWidget .content li.selected { font-weight: bold; }

.tableWidget .facetName { font-size: 90%; font-weight: bold; text-transform: capitalize; }
.tableWidget .facetSort { font-size: 90%; font-weight: normal; }
.tableWidget ul li { font-size: 90%; }

.hierarchicalWidget .facetName { font-size: 90%; font-weight: bold; text-transform: capitalize; }
.hierarchicalWidget .facetSort { font-size: 90%; font-weight: normal; }
.hierarchicalWidget ul li { font-size: 90%; }

.resultWidget .res .title,#capsule .title { font-weight: normal;  font-size:18px;color: #4C76B6;font-weight: normal;}

.resultWidget .res .icon span{font-weight: normal; font-size: x-small;margin: 0px 3px 0px 0px;font-weight:bold;text-transform: uppercase;color: #4C76B6;}
.resultWidget .doc .res .address span{
	font-size: 14px;
}

.resultWidget .doc .res .description { font-size: 14px; }
.resultWidget .doc .res .description #urlMobile{font-size:10px;}
.resultWidget .res .moreLikeThis { font-weight: bold; text-decoration: underline; }


.resultWidget .res .em { font-weight: bold; }

.resultWidget .res .title:hover { text-decoration:underline;}


.videoResultWidget .res .title { font-size: 1.3em; font-weight: bold; }
.videoResultWidget .res .title:hover { text-decoration: underline; }
.videoResultWidget .video_list.mosaic .title { font-size: 0.9em; }

.pagerModule .pages .page, .pagerModule .fn { font-weight: bold; }

.advancedSearchWidget .advTable .right { font-size: 11px; }
.advancedSearchWidget .advTable .left { font-size: 13px; }
.advancedSearchWidget .advTable .title .right { font-size: 13px; }
.advancedSearchWidget .advTable .title .left { font-size: 16px; }
.advancedSearchWidget .advTable .title { font-weight: bold; }
.advancedSearchWidget .addInput:hover { text-decoration: underline; }

.capsuleWidget .title{ font-weight: bold; }

.spellcheckerWidget .result { font-weight: bold; text-decoration: underline; }

.menuWidget .menu li:hover { font-weight: bold; }

.ui-menu .ui-menu-item a { text-decoration:none; }

.hl { font-weight: bold; }

}



/* Ajout responsif */
/*
@media all and (min-width : 180px) and (max-width : 319px){

#result_information { font-weight:bold; }

/**************************************/
/*******	>>> Widgets <<<		*******/
/**************************************/
/*
.searchBarWidget .searchMode label { font-size: 90%; }

.collectionWidget .title { font-weight: bold; text-transform: uppercase; }
.collectionWidget .content li { font-size: 90%; }
.collectionWidget .content li.selected { font-weight: bold; }

.tableWidget .facetName { font-size: 90%; font-weight: bold; text-transform: capitalize; }
.tableWidget .facetSort { font-size: 90%; font-weight: normal; }
.tableWidget ul li { font-size: 90%; }

.resultWidget .res .title { font-weight: bold; text-decoration: underline; font-size:80%}

.resultWidget .doc .res .address { font-size: 70%; }

.resultWidget .doc .res .description { font-size: 60%; }
.resultWidget .res .moreLikeThis { font-weight: bold; text-decoration: underline; }


.resultWidget .res .em { font-weight: bold; }

.resultWidget .res .title { text-decoration:none;}
.resultWidget .res .title:hover { text-decoration:underline;}


.videoResultWidget .res .title { font-size: 1.3em; font-weight: bold; }
.videoResultWidget .res .title:hover { text-decoration: underline; }
.videoResultWidget .video_list.mosaic .title { font-size: 0.9em; }

.pagerModule .pages .page, .pagerModule .fn { font-weight: bold; }

.advancedSearchWidget .advTable .right { font-size: 11px; }
.advancedSearchWidget .advTable .left { font-size: 13px; }
.advancedSearchWidget .advTable .title .right { font-size: 13px; }
.advancedSearchWidget .advTable .title .left { font-size: 16px; }
.advancedSearchWidget .advTable .title { font-weight: bold; }
.advancedSearchWidget .addInput:hover { text-decoration: underline; }

.capsuleWidget .title{ font-weight: bold; }

.spellcheckerWidget .result { font-weight: bold; text-decoration: underline; }

.menuWidget .menu li:hover { font-weight: bold; }

.ui-menu .ui-menu-item a { text-decoration:none; }

.hl { font-weight: bold; }

}
*/

@media all and (max-width : 430px){
	.resultWidget .res .title, #capsule .title {
    	font-size: 12px;
	}
	.resultWidget .doc .res .description {
   		 font-size: 10px;
	}
	.resultWidget .doc .res .address span {
    	font-size: 9px;
	}
}
@media all and (max-width : 191px){
	.resultWidget .res .title, #capsule .title {
    	font-size: 10px;
	}
	.resultWidget .doc .res .description {
   		 font-size: 8px;
	}
	.resultWidget .doc .res .address span {
    	font-size: 7px;
	}
	#number_results_mobile {
 	   font-size: 10px;
	}
	#results_nav_mobile #nav_facets_mobile a {
    	font-size: 10px;
	}
}
@media all and (max-width : 260px){
	#results_nav_mobile #nav_facets_mobile a{
		font-size:1em;
	}
	#number_results_mobile{
		font-size: 1em;
	}
	.searchBarWidget .searchBar input[type="text"]{
		font-size:1em;	
	}

}


/* VERSION DESKTOP 
 * *
 * 
 * 
 * 
 * 
 * 
 * 
 */

@media all and (min-width: 481px){
	
#result_information,#sortMode { font-weight:bold; }

#sortMode{font-size:1.1em;}

/**************************************/
/*******	>>> Widgets <<<		*******/
/**************************************/

.searchBarWidget .searchType label { font-size: 90%; }
.searchBarWidget .searchMode label { font-size: 90%; }
.searchBarWidget .searchDate label { font-size: 90%; }

.collectionWidget .title { font-weight: bold; text-transform: uppercase; }
.collectionWidget .content li { font-size: 90%; }
.collectionWidget .content li.selected { font-weight: bold; }

.tableWidget .facetName { font-size: 120%; font-weight: bold; text-transform: capitalize; }
.tableWidget .facetSort { font-size: 90%; font-weight: normal; }
.tableWidget ul li { font-size: 90%; }

.hierarchicalWidget .facetName { font-size: 120%; font-weight: bold; text-transform: capitalize; }
.hierarchicalWidget .facetSort { font-size: 90%; font-weight: normal; }
.hierarchicalWidget ul { font-size: 90%; }
.hierarchicalWidget ul ul { font-size: 100%; }

.resultWidget .res .title,#capsule .title { font-weight: bold; text-decoration: underline; }

.resultWidget .doc .res .address {  }

.resultWidget .doc .res .description { font-size: 90%; }
.resultWidget .res .moreLikeThis { font-weight: bold; text-decoration: underline; }


.em { font-weight: bold; }

.resultWidget .res .title,#capsule .title { text-decoration:none;}
.resultWidget .res .title:hover { text-decoration:underline; color:#D37324; }
.result-body {  font-size: 90%;   }

.videoResultWidget .res .title { font-size: 1.3em; font-weight: bold; }
.videoResultWidget .res .title:hover { text-decoration: underline; }
.videoResultWidget .video_list.mosaic .title { font-size: 0.9em; }

.pagerModule .pages .page, .pagerModule .fn { font-weight: bold; }

.advancedSearchWidget .advTable .right { font-size: 11px; }
.advancedSearchWidget .advTable .left { font-size: 13px; }
.advancedSearchWidget .advTable .title .right { font-size: 13px; }
.advancedSearchWidget .advTable .title .left { font-size: 16px; }
.advancedSearchWidget .advTable .title { font-weight: bold; }
.advancedSearchWidget .addInput:hover { text-decoration: underline; }

.capsuleWidget .title{ font-weight: bold; }

.spellcheckerWidget .result { font-weight: bold; text-decoration: underline; }

.menuWidget .menu li:hover { font-weight: bold; }

.ui-menu .ui-menu-item a { text-decoration:none; }

.hl { font-weight: bold; }



}
	
