@charset "UTF-8";
/*! Font */
@font-face {
  font-family: "HelveticaNeueW02-67MdCn 694060";
  src: url(../fonts/helvetica/HelveticaNeueW02-67MdCn/06b85ec8-4a05-49b4-91c2-f44ec792102b.eot?#iefix);
  src: url(../fonts/helvetica/HelveticaNeueW02-67MdCn/06b85ec8-4a05-49b4-91c2-f44ec792102b.eot?#iefix) format("eot"), url(../fonts/helvetica/HelveticaNeueW02-67MdCn/11398868-5e58-467f-86d1-650e10dd998a.woff) format("woff"), url(../fonts/helvetica/HelveticaNeueW02-67MdCn/285f76f1-9aeb-40f3-8df6-f87eb061df28.ttf) format("truetype"), url(../fonts/helvetica/HelveticaNeueW02-67MdCn/95e9b167-72f4-4e05-8337-e993a249b8b5.svg) format("svg"); }
@font-face {
  font-family: "HelveticaNeueW02-77BdCn 694066";
  src: url(../fonts/helvetica/HelveticaNeueW02-77BdCn/77cb0adc-646b-4830-8f4c-3db7adbb8dc4.eot?#iefix);
  src: url(../fonts/helvetica/HelveticaNeueW02-77BdCn/77cb0adc-646b-4830-8f4c-3db7adbb8dc4.eot?#iefix) format("eot"), url(../fonts/helvetica/HelveticaNeueW02-77BdCn/631bf655-ced5-4627-93d4-89d1bdfe3014.woff) format("woff"), url(../fonts/helvetica/HelveticaNeueW02-77BdCn/96740819-d387-437f-b739-9778ddc5e5b9.ttf) format("truetype"), url(../fonts/helvetica/HelveticaNeueW02-77BdCn/05729794-671d-4a73-a294-f2f447795319.svg) format("svg"); }
/*! Fond page */

#facets {
	/* To de-comment according to client needs */
/*   height: 52em; */
/*   overflow: auto; */
}

.filterFacetLinkValue a {
  color: #444; }

.filterFacetLinkValue a:hover {
  color: #444;
  text-decoration: underline;
}

.filterFacetLinkValue a:link {
  font-weight: normal;
}

.icon object {
  width: 24px;
  height: 24px;
}

  .proposal {
    font-weight: bold;
    color: #B92221;
    text-decoration: underline;
    cursor: pointer;
  }
/*
  #results_action {
    text-align: right;
    position: absolute;
    top: 5em;
    right: 1em;
  }
*/
  .ui-menu-item {
    padding-right: 0em !important;
    width: calc(100% - 0.4em) !important;
  }

  #connectionLink {
    margin-top: 2em;
  }

  .gecko {
    background-color: #FFF; }

  /*! Couleur de base des liens */
  a {
    color: #666; }

  a:hover {
    color: #6B956F;
  }

  header {
    width:100%;
    margin-bottom: 0.1em;
  }

  footer img {
    height: 30px;
  }

  /*! Btn */
  .btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block; }

  .btn-default {
    padding: 5px 10px;
    background-color: #df0c36;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: inherit; }

  .btn-default:hover {
    background-color: #b0042a;
    color: #FFF;
    transition: all .3s ease-in 0s; }

  /*! Link arrow (icon flèche rouge) */
  .link-arrow {
    background: url("../../images/link-arrow-red.png") no-repeat center center;
    background-size: contain;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px; }

  /*! Link additional icon (icon flèche grise) */
  .link-addi-icon {
    background: url("../../images/link-addi-icon.png") no-repeat center center;
    background-size: contain;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px; }

  /*! Link additional icon (icon flèche blanche) */
  .link-addi-icon-w {
    background: url("../../images/link-addi-icon-w.png") no-repeat center center;
    background-size: contain;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px; }

  /*! Titre doc */
  .title {
    font-size: 16px !important; }

  .description {
    margin-left: 6% !important;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px !important; }

  .icon-doc {
    float: left; }

  body div.res {
    border-bottom: 0px; }

  .resultWidget .doc .res .address {
    box-shadow: none; }


.metadonne {
  display : none;
}
  /*!  Lien */

  .contain-object {
    display: block;
    padding-left: 35px; }

  #results .res .icon {
    display: inline-block;
    width: initial; }

  .tableWidget ul li .filterFacetCheck {
    font-size: 12px; }

  .multiChoiceBar span{
      display: inline-block;
  }


  .multiChoiceBar input{
      display: inline-block;
  }

  .tooltip-inner {
    margin-top: 20px;

  }

  body #facets .checkboxIcon {
    color: #666; }

  #facets label {
    display:inline;
  }
  .facetName {
    background-color: #f8f8f8 !important; }
  .facet ul {
    background-color: #f8f8f8 !important; }

  .facet button {
    display: block;
    margin: 1em 0 1em 8%;
    
  }

  .facet a.button {
    margin-right: 1em;
  }

  .facet div.facet-actions {
    margin-left: 8%;
    display: block;
    margin-bottom: 1em;
    text-decoration: underline;
  }

  .facet div.facet-tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  .facet .facet-tooltip .facet-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #707173;
    color: #f8f8f8;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%; 
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .facet .facet-tooltip:hover .facet-tooltip-text {
    visibility: visible;
  }

  .facet .facet-tooltip .facet-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -15px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #707173 transparent transparent;
  }

  /*! Titre des filtres col gauche */
  .facetName .label {
    font-size: 14px !important;
    font-family: "HelveticaNeueW02-67MdCn 694060" !important;
    color: #707173 !important;
    padding: 10px 5px 0px 15px !important;
   }

  /*! Paramètres des filtres */
  .param-filtre {
    background-color: #666;
    padding: 5px;
    font-family: "HelveticaNeueW02-67MdCn 694060";
    min-width: 86%;
    margin: 20px 5% 5% 0%;
    color: white;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.015em; }

  /*! Pagination */
  .pagerModule {
    text-align: right; }
    .pagerModule .pages {
      /*! Page active */ }
      .pagerModule .pages .page {
        color: #666; }
        .pagerModule .pages .page span {
          padding-bottom: 5px; }
      .pagerModule .pages .selected {
        text-decoration: underline; }

  .pagerModule .pages .page.selected {
    text-decoration: underline; }

  /*! Chevron pagination */
  .pagerModule i {
    color: #666; }

  /*! Select */
  #mySelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    border-radius: 0px;
    text-align: center;
    background-color: white;
    border: 1px solid #CCC;
    background: url('../images/chevron-down.png') no-repeat 95% 50% #ffffff !important;
    background-size: 11px 7px !important;
    width: 125px;
  }

  .center-box {
    text-align: center; }

a {
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
}

  .none {
    display: none; }

  .bold {
    font-weight: bold; }

  .subtxt {
    color: #999;
    font-weight: 300; }

  .underline {
    text-decoration: underline; }

  .searchBarWidget img, .advancedSearchWidget img {
    margin-left: 0px;
     }

  #searchBarContent {
    margin-left: 30px; }

  #source_tabs .tab {
    cursor: pointer;
    font-weight: 300;
    text-decoration: none;
    color: #666; }

  #source_tabs .tab {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 15px 15px; }

  .number {
    margin-left: 5px;
    color: #999; }

  /*! Onglet de filtre principal */
  body #tab_line {
    margin-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;

    /*! Onglet utilisé */ }
    body #tab_line ul {
      font-size: 14px; }
      body #tab_line ul li {
        border: none; }
    body #tab_line #source_tabs .use-it {
      border-bottom: 3px solid red;
      padding: 0px 5px 13px 5px; }
      body #tab_line #source_tabs .use-it .name {
        font-weight: bold; }

  /*! Onglet de filtre additionnel */
  .additional-link {
    background-color: #f8f8f8;
    margin: 0px 5px; }

  /*! Barre "Moteur principal + alerte" */
  .sub-filter {
    box-sizing: border-box;
    width: 100%; }
    .sub-filter .title-sub-filter {
      display: inline-block;
      color: #df0c36;
      text-transform: uppercase;
      font-size: 20px;
      margin: 15px 5px 15px 30px; }
    .sub-filter .barre-sub-filter {
      display: inline-block;
      background: url("../../images/patern-barre.png") repeat-x center center;
      width: calc(99% - 297px);
      height: 15px;
      vertical-align: middle; }

  .make-alert {
    vertical-align: initial;
    padding: 5px 10px 5px 0px;
    margin-left: 5px; }

  .btn-grey,#validate-lang {
  border: 0;
  font-family: "HelveticaNeueW02-67MdCn 694060";
  font-size: 14px;
  padding: 5px 15px;
  background-color: #666;
  color: white;
  vertical-align: inherit;
  white-space: nowrap;
  width: auto;
  cursor: pointer; }

  .btn-preview {
    padding: 2px 0px;
    width: 49%;
    text-align: center; }

  #solr .resultWidget .doc {
    max-width: 100% !important; }

  #solr .col.right {
    width: 64%;
    max-width: 100% !important; }

  .subres {
    width: 60%; }



  /*! Arrow pour selection moteur sur mobile */
  .arrow-down-red {
    background: url(../../images/arrow-down-red.png) no-repeat center center;
    width: 25px;
    height: 25px;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 5px;
    left: -5px; }

  @media (max-width: 990px) {
    .previsualizetemplate {
      display: none; }

    .subres {
      width: 100%; }

    body .footer-respon {
      display: inline-block !important; }

    }

      #additional_tab_links {
      display: none; }
  /*! Bar de recherche + container */
  #searchBarContent {
    margin-left: 0px; }

  #solr {
    width: 69%;
  }

  .title, .title .externallinktitle, .title .externalappilinktitle {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important; }

  /*! Custom */
  .sub-filter select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    background-color: white;
    color: #df0c36;
    text-transform: uppercase;
    font-size: 20px;
    margin: 15px 5px 15px 30px;
    font-family: "HelveticaNeueW02-67MdCn 694060"; }

  body {
    color: #444;
    font-size: 12px;
    font-family: "Arial";
    /*! Header */
    /*! Footer */
    /*! Border top pagination */
    /*! Footer reponsive (Enregistrer recherche + Partage de résultat) */ }
    body #header-wrapper {
      display: inline-block;
      width: 100%;
      text-align: right;
      position: absolute; }
    body #upright-menu {
      max-width: 1192px;
      display: inline-block;
      width: 100%;
      text-align: right;
      background-color: rgba(255, 255, 255, 0);
      position: relative;
      z-index: 2;
      /*! Popup paramètres */
      /*! Ajout class pour faire apparaitre le popup */ }
      body #upright-menu a {
        color: #666;
        padding: 0px 0.5em;
        transition: all .3s ease-in 0s; }
      body #upright-menu .head-link {
        text-transform: uppercase;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
      body #upright-menu .popup-param {
        display: none;
        text-align: left;
        background: url("../../images/popup-clic.png") no-repeat center center;
        height: 80px;
        width: 150px;
        background-size: contain;
        padding-top: 25px;
        box-sizing: border-box;
        position: absolute;
        right: 0; }
        body #upright-menu .popup-param a {
          width: 100%;
          margin: 3px 0px;
          font-weight: 400; }
      body #upright-menu .popup-ok {
        display: block; }
    body .search-principal {
      margin-top: 30px;
      margin-bottom: 40px;
      width: 100%; }
    body .searchBarWidget {
      margin-bottom: 2em;
      height: 5em;
      width: 100%;
       }
      body .searchBarWidget .search-bar-full {
        min-width: 750px; }
      body .searchBarWidget .searchBar {
        text-align: left;
        width: 100%;
        margin:auto;
        height: 100%;
        border: 1px solid #fbfbfb;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        z-index: 3;
        }
        body .searchBarWidget .searchBar .search-input {
          color: #444;
          padding-left: 0px;
          width: 100%;
          padding: 5px 7px;
          box-sizing: border-box;
          border-radius: 2px;
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
          transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
          font-size: 12px; 
          background-color: transparent;}
          body .searchBarWidget .searchBar .search-input:hover {
            box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
            border: none;
          }
        body .searchBarWidget .searchBar .search-input:focus {
          border-color: none;
          outline: 0;
          box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
          border: none; }
      body .searchBarWidget .search {
        /*! Loupe btn rechercher */ }
        body .searchBarWidget .search .icon-search {
          background: url("../../images/icon-search.png") no-repeat center center;
          background-size: contain;
          width: 15px;
          height: 20px;
          margin-right: 5px;
          float: left; }
      body .searchBarWidget .search-advanced {
        display: inline-block;
        text-align: left;
        vertical-align: inherit;
        color: #444444;
        line-height: 14px;
        font-size: 12px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 500;
        width: 40px; }
      body .searchBarWidget .search-advanced:hover {
        text-decoration: underline; }
      body .searchBarWidget .txt-info {
        margin-left: 40px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500; }
    body .bar-footer {
      background-color: #FFF;
      background: linear-gradient(to right, #ffffff 50%, #e6e6e6 50%);
      box-shadow: 0px -2px 5px 0px #666;
      bottom: 0;
      position: fixed;
      width: 100%;
      z-index: 100;
      background-image: url("../../images/bg-header-960.png");
      background-position: top left;
      background-repeat: repeat-y;
      background-size: contain;
      
      text-align: left;
      /*! Container pour centrer */ }
      body .bar-footer .container-footer {
        display: inline-block;
        width: 100%;
        margin-left: 20px;
        /*! Logo footer */ }
        body .bar-footer .container-footer a {
          background-image: url("../../images/logo_total_color.svg");
          background-position: left top;
          background-repeat: no-repeat;
          display: block;
          float: left;
          height: 35px;
          width: 150px; }
    body .doc_list_pagination {
      margin-bottom: 13.5% !important;
      border-top: 1px solid #666;
      padding-top: 10px; }
    body .footer-respon {
      display: none;
      width: 100%;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 80px; }
      body .footer-respon .additional-link {
        width: 40%;
        display: inline-block;
        padding: 5px; }

  #results .res .icon {
    float: left; }

  /*! Filtre version mobile */

   #sortMode select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    padding: 5px !important;
    border-radius: 0px !important;
    text-align: center !important;
    background-color: white !important;
    border: 1px solid #CCC !important;
    color: black !important;
   }

  #sortMode {
    text-align: right !important;
    color: #444 !important;
    font-weight: 200 !important;
  }

  #nav_facets_mobile {
    display: inline-block;
    vertical-align: middle; }

  .filter-mobile {
    padding: 5px;
    display: inline-block;
    margin-left: 5px; }


  .sub-search {
    display: inline-block;
    vertical-align: inherit; }

  #results .doc_list {
    box-shadow: none; }

  .resultWidget .doc .res {
    text-align: left; }

  /*! Media query */
@media (max-width: 799px) {

    .doc-details {
      margin-top: -2%;
    }
  
    .mobile-on {
      display: inline-block !important; }

    .mobile-off {
      display: none !important; }

    #urlMobile {
      left: 0px; }

    .sub-filter {
      padding-left: 30px; }

    .sortMobile {
      margin-top: 10px;
      margin-left: 60px; }

   .searchBarWidget .searchBar {
  margin-left: 0px !important;
  width: 100% !important;
  }

#results .doc_list_pagination {
  visibility: hidden !important;
}


    .pagerModule .pages {
      display: inline-block;
      vertical-align: middle; }

    .pagerModule .pages .page {
      border: none;
      border-radius: none; }

    #tab_line {
      display: none; }

    .txt-search {
      display: none; }

    body .searchBarWidget .search .icon-search {
      margin-right: 0px; }

    .sub-search {
      width: 100%; }

    .search-advanced-principal {
      float: right !important;
      margin-right: 10px !important;
      width: 120px !important; }

    header {
      display: inline-block;}

    .searchBarWidget {
      margin: 0px; }

    .txt-info {
      display: none; }

    ul {
      display: inline-block; }

    .make-alert {
      display: none; }

    body #solr .col-right {
      float: none !important;
      width: 80% !important;
      margin: 0 auto !important; }

    #urlMobile {
      position: relative; }

    .resultWidget .doc, #promolink {
      height: 100%; }

    #searchBarContent {
      min-width: 0px;
      width: 100%;
      height: 60%; 
    }

    footer {
      display: none; }

    #header-wrapper {
      display: inline-block; }

    body .searchBarWidget .search-advanced {
      width: 100%;
      margin-top: 15px;
      text-align: center; 
    }

    .filterFacetCheck .filterFacetLinkValue {
      padding-left: 5px;
    }
}

  @media (min-width: 799px) {
    #searchBarContent {
      min-width: 500px; }

    #nav_facets_mobile {
      display: none; }

    .mobile-on {
      display: none; } }
  @media (max-width: 405px) {
    body #upright-menu a {
      padding: 0px 7px;
      transition: all .3s ease-in 0s; } }
  @media (max-width: 375px) {
    body #upright-menu a {
      font-size: 10px;
      padding: 0px 7px;
      transition: all .3s ease-in 0s; } }
  /*! Reset style  */
  @media (max-width: 430px) {
  .title, .title .externallinktitle, .title .externalappilinktitle{
      font-size: 18px !important;
      font-weight: bold !important; } }
  /*! Filtre mobile */
  .container-filtre-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: 0.8s;
    background: white; }
    .container-filtre-mobile .contain-filtre {
      width: 100%;
      /*! Icon close filtre mobile */ }
      .container-filtre-mobile .contain-filtre .title-filter-mobile {
        text-align: center;
        font-size: 18px;
        background-color: #df0c36;
        color: white;
        padding: 20px 0px; }
      .container-filtre-mobile .contain-filtre .icon-close {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 25px;
        height: 25px;
        background: url(../../images/icon-close.png) no-repeat center center;
        background-size: contain; }
      .container-filtre-mobile .contain-filtre .tableWidget {
        padding: 15px 0px; }
      .container-filtre-mobile .contain-filtre .facetName {
        margin: 0 auto;
        text-align: center; }
      .container-filtre-mobile .contain-filtre .filterFacetCheck {
        font-size: 12px; }
      .container-filtre-mobile .contain-filtre ul {
        width: 100%;
        text-align: center; }
      .container-filtre-mobile .contain-filtre label {
        display: inline-block; }
      .container-filtre-mobile .contain-filtre li {
        border-bottom: 0px; }

  /*! Btn valider popup filtre mobile */
  .validate-filtre {
    background-color: #df0c36;
    color: white;
    font-size: 14px;
    padding: 10px 0px;
    text-align: center;
    width: 60%;
    margin: 0 auto; }

  .menu-mobile-off {
    top: -100%;
    bottom: 100%;
    transition: 0.8s; }

  /* Again new */

  .wellviewtemplate {
    margin-left: 32px;
  }

  .prodomtemplate {
    margin-left: 32px;
  }


  body #additional_tab_links {
      display: none !important; }

  .title span, .title .externallinktitle , .title .externalappilinktitle{
    display: inline-block;
  }

  .searchBarWidget #sortMode:after {
    display: none;
  }


  .resultWidget .doc .res {
    width: 70%;
  }

  .searchBarWidget img {
    float: left;
  }

.active .name, .active .number {
  font-weight: 600;
}

.title a {
  color: #6B956F !important;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;

}

.external {
  width: 60%;
  margin: 20px 0px;
}

.external .address {
  color: #999 !important;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}


.external .address {
  padding-top: 5px;
  margin-left: 32px;
}

.externalfull .address {
  padding-top: 5px;
  margin-left: 32px;
}

.externalappi .address {
  padding-top: 5px;
  margin-left: 32px;
}

.externalappifull .address {
  padding-top: 5px;
  margin-left: 32px;
}


/* NEW STYLE */

.clearfix:before, #param-content:before,
.clearfix:after,
#param-content:after {
  display: table;
  content: " "; }

#param-content-title {
  color: #444;
  display: block;
  font-family: "HelveticaNeueW02-67MdCn 694060", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

#param-list {
  margin: 0 !important;
  padding: 10px;
}
#param-list li {
  margin: 10px 0px;
}

#lang-label, #alert-label, #savesearch-label {
  padding-left: 5px;
}

#lang-choice,
#lang-inputs {
  float: left;
  padding: 0 10px; }

#lang-choice {
  text-align: right; }

.separator {
  clear: both;
  padding: 10px 0; }

.link-icon {
  text-indent: -9999px; }

.link-icon.selected {
  text-indent: -9999px; }

.link-icon.selected + #lang-label {
  font-weight: 700; }

/* Favoris */

#fav-label, #param-label, #advSearchTitle {
  background-color: #FFF;
  display: inline-block;
  font-family: "HelveticaNeueW02-67MdCn 694060", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 0;
  padding-right: 10px;
  width: auto;
}

/* Recherche avancée*/


.field-50 {

}

.advTable .field:nth-child(3) {
  margin-top: 40px !important;
}

.advTable .field:nth-child(8) {
  width: 20% !important;
  display: inline-block !important;
  margin-left: 12% !important;
}

.advTable .field:nth-child(9) {
  width: 50% !important;
  display: inline-block !important;
}

.advTable .field:nth-child(8) ul {
  margin-left: 15px !important;
}

@media (max-width: 799px) {

  #solr .col.right {
    width: 100% !important;
  }

  #solr {
    width: 90% !important;
  }

}

#sliderDate {
  height: 2px; }
  #sliderDate .ui-slider-handle {
    top: -8px !important; }
  #sliderDate .tooltip-inner {
    font-size: 10px;
    font-weight: 300;
    margin: 20px 0 0 -6px; }

  /* Look&Feel btn tri par : */
  select::-ms-expand {
    display: none;
}



/* Etoiles (fav) */
.favorite .fa {
  font-size: 15px
}



/* Suppr barre scroll verticale */
/* body {
  overflow-y: auto !important;
 }
*/


  #searchbuttontext {
    display: none;
  }

  .advTable .left {
    width: 100% !important;
    max-width: 1100px;
  }

  #wellview_table_reports
{
  width : 600px;
    border-collapse: collapse;
 }


#wellview_table_reports td
{
    border: 1px solid black;
}



#wellview_table_reports caption{
  text-decoration: none;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 22px;
}
#wellview_table_reports #wellview_title{
    color: #E90C36;
}
.class_data{
  font-size: 18px;
  padding: 8px;
  background-color: rgba(129, 130, 134, 1);
  background-color: rgb(129,130,134);
  color: white;
  text-align:center;

}
.cat{
  background-color: rgba(129, 130, 134, 0.2);
 background-color: rgb(230,230,231);
  padding: 5px;
}
.datawellview{
  padding: 5px;
}
.class_data_sub{
  background-color: rgba(129, 130, 134, 0.2);
  background-color: rgb(230,230,231);
  padding: 5px;
}

.txtleft{
  text-align:left;
}

/* Facet */

body #facets .facet ul {
  overflow: auto;
}

#facets .checkboxIcon {
  font-size: 12px !important;
  height: 10px;
}

/* Technical features */

#technicalfeatures {
  background-color: #f8f8f8;
  position: relative;
  min-width: 86%;
  margin: 0% 5% 5% 0%;
  padding-bottom: 0px;
  border-bottom: 1px solid #d8d8d8;
}

#technicalfeatures > span {
  font-size: 14px;
  font-family: "HelveticaNeueW02-67MdCn 694060";
  font-weight: bold;
  display: inline-block;
  padding: 10px 5px 5px 15px !important;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
  color: rgb(112, 113, 115);
}

#facet_wellview_high_pressure, #facet_wellview_high_temperature, #facet_wellview_shallowgas, #facet_wellview_erd, #facet_wellview_foothill {
  margin: 0% 5% 0% 15px !important;
}


  /* Patch audit 29/12/2016 */

.searchBarWidget #sortMode {
  display: inline-block;
}

#facets .facet.tableWidget.widget, #facets .facet.hierarchicalWidget.widget {
  box-shadow: none;
  background-color: #f8f8f8;
  border-bottom: 1px solid #d8d8d8;
}
.resultWidget .res .description {
  margin-top: 1%;
  line-height: 150%;
}

.tableWidget ul li {
  padding: 0px;
}

/* technicalfeatures */



#technicalfeatures .facet {
  border-bottom: 0px !important;
}

#technicalfeatures .facetName {
  padding: 10px 5px 0px 0px !important;
  font-size: 13px !important;
  margin-left: 5px;
}

#technicalfeatures li {
  display: inline-block !important;
  width: 40% !important;
}

#technicalfeatures #clickchevron > img {
  float: right;
  width: 25px;
  margin-right: 7px;
}



input[type="checkbox"] + label span.checkboxIcon {
    width: 12px;
}

/* Map */

.previsualizetemplate {


}

.previTitle, .previResult {
  display: inline-block;
  width: 45%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  vertical-align: top;
}

.previFirstResult {
  text-align: left;
  padding: 0px 0px 5px 0px;
  width: 100%;
  font-weight: 800;
  font-size: 16px;
}

.previTitle {
  font-weight: 200;
}

.previResult {
  font-weight: 600;
}

/*!Preview au hover */
  div.doc:hover div.previsualizetemplate {
    background-color: rgb(249, 249, 249) !important;
    width: 270px !important;
    left: 65%;
    top: 15%;
    padding: 10px !important;
    border: none !important;
    max-width: 270px;
    /*! Img */
  }

  div.doc:hover div.previsualizetemplate .title-preview {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px; }
  div.doc:hover div.previsualizetemplate .loc-img {
    background: url("../../images/loc-exemple.jpg") no-repeat center center;
    width: 100%;
    height: 150px;
    display: inline-block;
    background-size: contain; }
  div.doc:hover div.previsualizetemplate .contain-info-preview {
    width: 48%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px; }
    div.doc:hover div.previsualizetemplate .contain-info-preview .txt-info-preview {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
    div.doc:hover div.previsualizetemplate .contain-info-preview .info-preview {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: bold; }

      div.doc:hover div.previsualizetemplate {
        left: calc(100% + 105px);
      }

    .previMap {
     width : 270px;
     height : 216px;
    }

/* Gestion position des map */

.doc_list div.doc.first:hover div.previsualizetemplate { top: 50% !important;}
.doc_list div.doc.last:hover div.previsualizetemplate { top: -100% !important;}

.pagerModule .pages .selected {
  color: #df0c36 !important;
}

#connectionLink #logo_mobile{
  margin-top: -10px;
  height: 40px;
  display: none;
 }

/*NEW CLICKED STYLE*/

#searchBarContent{
  margin-top: 40px;
}

.head-title{
  margin-top: 35px;
}

#save_search_label, #createRelevancy {
  text-decoration: none;
}

#facet_last_modified ul{
  overflow: initial;
}

#dropdown-search{
  display: none;
}

#createRelevancy{
  display: inline;
  overflow: auto;
}

#save_search{
  float: none !important;
}

@media (max-width: 799px) { 

  #searchBarContent{
    margin-top: 0;
  }
}
