#ldapUserLabel {
	display:inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 40%;
}

#simpleFeedbackMessage.danger i{
	margin-bottom: 2%;
}
#simpleFeedbackMessage.danger{
	color: #F00;
}
#simpleFeedbackMessage{
	color : #929292;
}
.danger {
    color: #af2f00
}
.success{
	color:green;
}
.error{
	display:inline-block;
	color:red;
	display:none;
}
.error-message{
	display: inline-block;
}
.form-control-feedback{
	top:0px;
	right:15px;
}
form{
	display:block;
	margin:auto;
}
h1,p,#simpleFeedbackMessage{
	text-align:center;
}

.submit{
	margin: auto;
}

.error-text, .success-text, .warning-text {
	display: none;
}

.has-success .success-text {
	display: initial;
}

.has-error .error-text {
	display: initial;
}

.has-warning .warning-text {
	display: initial;
}
