#fieldContent > div, #fieldDate > div {
  margin-bottom: 1rem;
}

.default-label {
	display: inline;
}

.default-explanation {
  margin-bottom: 1em;
}

.default-explanation::before {
  margin-right: 0.5em;
}