<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Datafari</display-name>
  <filter>
    <filter-name>Rewriter</filter-name>
    <filter-class>net.sf.j2ep.RewriteFilter</filter-class>
    <init-param>
      <param-name>dataUrl</param-name>
      <param-value>/WEB-INF/config/proxy.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Rewriter</filter-name>
    <url-pattern>/admin/proxy/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Proxy</filter-name>
    <filter-class>net.sf.j2ep.ProxyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Proxy</filter-name>
    <url-pattern>/admin/proxy/*</url-pattern>
  </filter-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>../../solr/solr_home/FileShare/conf/</param-value>
  </context-param>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ConnectedSearchUser</role-name>
      <role-name>SearchAdministrator</role-name>
      <role-name>SearchExpert</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin Privilege</web-resource-name>
      <url-pattern>/SearchAdministrator/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>SearchAdministrator</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <role-name>ConnectedSearchUser</role-name>
  </security-role>
  <security-role>
    <role-name>SearchAdministrator</role-name>
  </security-role>
  <security-role>
    <role-name>SearchExpert</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <listener>
	<listener-class>com.francelabs.datafari.startup.LikesLauncher</listener-class>
   </listener>
     <listener>
	<listener-class>com.francelabs.datafari.startup.UserManagementLauncher</listener-class>
   </listener>
</web-app>