
input[type="submit"]#loginAdminUiBtn {
    margin-top: 4px;
    position: absolute;
    bottom: 3%;
    right: 5%;
    /*In the middle of the form
    right: 125px;
    ------------------------*/
}

body {
	background-color : #F0F0F0;
}

.boxBody label{
	font-size: 14px;
}

.boxBody #loginFormAdminUiLabel{
	font-size: 18px;
	margin-bottom: 20px;
}


