#favoritesTable {
  background-color: #f8f8f8;
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%; }
  #favoritesTable a {
    color: #6B956F;
    font-weight: 700; }
  #favoritesTable thead th {
    border: 1px solid #c3c3c3;
    border-top: 0;
    font-size: 14px;
    font-weight: 700;
    padding: 10px; }
  #favoritesTable thead tr th:first-child {
    border-left: 0; }
  #favoritesTable thead tr th:last-child {
    border-right: 0; }
  #favoritesTable thead tr:last-child th {
    border-bottom: 0; }
  #favoritesTable tbody th {
    border: 1px solid #c3c3c3;
    font-size: 12px !important;
    font-weight: 300;
    padding: 10px; }
  #favoritesTable tbody tr th:first-child {
    border-left: 0; }
  #favoritesTable tbody tr th:last-child {
    border-right: 0; }
  #favoritesTable tbody tr:last-child th {
    border-bottom: 0; }

#favorites-label {
	background-color: #FFF;
	display: inline-block;
	font-family: "HelveticaNeueW02-67MdCn 694060", Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 0;
	padding-right: 10px;
	width: auto;
}

.head-title {
	margin-bottom: 2em;
}

h1 i{
	color: #E16759;
}
th.delete{
	//position : relative;
}
th.delete i {
	color: #F00;
	cursor: pointer; 
	
 }
 
 #Message{
 	text-align:center
 }
 #Message.danger i{
	 font-size: 3em;
	margin-bottom: 2%;
 }
 #Message.danger{
 	color: #F00;
 }
 #Message{
 	color : #929292;
 }
 
 .fa-chevron-left { cursor: pointer; cursor: hand; }
 .fa-chevron-right { cursor: pointer; cursor: hand; }
 