.page-item.active .page-link {
  background-color: #666;
  border-color: #666;
}

.page-link, .page-link:hover, .page-link:link {
  color: #666;
  font-weight: normal;
}

.page-link:focus {
  box-shadow: none;
}

.delete-column {
  text-align: center;
}

#alerts_table td {
  vertical-align: middle;
}

#select-alert-type {
	background: url('./images/chevron-down.png') no-repeat 95% 50% #ffffff !important;
	background-size: 11px 7px !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 5px;
	border-radius: 0px;
	text-align: center;
	background-color: white;
	border: 1px solid #CCC;
	padding-right: 2em;
}

#addAlertTable td {
  padding-bottom: 0.5em;
}


#addAlertTable td {
  padding-right: 2em;
}

#addAlertSubmit {
	padding-top: 2em;
}

#addAlertButton, #newAlerts, #addAlertCancel, #alerts_table button {
	border: 0;
	font-family: "HelveticaNeueW02-67MdCn 694060";
	font-size: 14px;
	padding: 5px 15px;
	background-color: #666;
	color: white;
	vertical-align: inherit;
	white-space: nowrap;
	width: auto;
	cursor: pointer;
}

#addAlertMessage {
	margin-top: 1em;
	font-size: 1em;
	font-weight: bold;
}

#addAlertCancel {
	margin-left: 1em;
}

#addAlertDiv {
	margin-bottom : 3em;
}

#alerts_table button {
	margin-left: 1em;
}

#alerts_table button, #alerts_table select {
  font-size: 1em;
}

#alerts_table select {
  width: 12em;
}

#frequency, .frequency select, .frequency button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  border-radius: 0px;
  text-align: center;
  background-color: white;
  border: 1px solid #CCC;
  padding-right: 2em;
}

#frequency, .frequency select {
  background: url('./images/chevron-down.png') no-repeat 95% 50% #ffffff !important;
  background-size: auto auto;
  background-size: 11px 7px !important;
}

.delete-button {
  color: red !important;
  font-weight: bold;
}

.link-label {
	padding-left: 5px;
}

.link-label.selected {
	font-weight: 700;
}

#searchesTable td {
 	text-align: center; 
}

#searchesTable a {
  color: #6B956F; 
}
  
#searchesTable thead th, #alerts_table thead th {
  font-size: 14px;
  font-weight: bold; 
}
  
#searchesTable thead tr th:first-child {
  border-left: 0; }
#searchesTable thead tr th:last-child {
  border-right: 0; }
#searchesTable thead tr:last-child th {
  border-bottom: 0; }
#searchesTable tbody th {
  border: 1px solid #c3c3c3;
  font-size: 12px !important;
  font-weight: 300;
  padding: 10px; }
#searchesTable tbody tr th:first-child {
  border-left: 0; }
#searchesTable tbody tr th:last-child {
  border-right: 0; }
#searchesTable tbody tr:last-child th {
  border-bottom: 0; }

.head-title {
	margin-bottom: 2em;
}

#left-menu ul li {
 	margin-right: 2em; 
}

#param-content-title {
	margin-bottom: 1em;
}

#param-list {
	margin-left: 2em;
}

.link-icon.selected {
	color: #df0c36;
}