.searchBarWidget{clear:both;margin:0 auto 20px;width:624px}
.searchBarWidget .searchBar{border:1px solid;padding:5px 0 5px 2px;width:620px}
.searchBarWidget .searchBar input[type=text]{border:0;height:100%;width:595px}
.searchBarWidget .searchBar input[type=button]{background:url('../images/search_ico.png') no-repeat 0 0;border:0;cursor:pointer;display:block;float:right;height:17px;margin-right:5px;width:20px}
.searchBarWidget .searchMode{clear:both;margin-top:3px;text-align:right;width:624px}
.searchBarWidget .searchMode label{cursor:pointer;display:inline-block;height:20px;line-height:20px;margin-left:5px}
.searchBarWidget .searchMode label input{margin-right:3px;position:relative;top:2px}
.searchInformationWidget{margin-bottom:10px}
.collectionWidget{border:1px solid;width:210px}
.collectionWidget .title{margin:5px 10px}
.collectionWidget .content{margin:5px 0}
.collectionWidget .content li{border-top:1px solid;cursor:pointer;display:block;padding:3px 0 3px 15px;width:195px}
.collectionWidget .content li.last{border-bottom:1px solid}
.tableWidget{margin-bottom:20px}
.tableWidget .facetName{border-bottom:1px solid;cursor:pointer;margin:0;min-height:21px;padding-bottom:3px;width:100%}
.tableWidget .facetName .hide_show{background-image:url('../images/open_ico.png');display:inline-block;height:11px;margin-right:3px;width:11px}
.tableWidget .facetName .hide_show.close{background-image:url('../images/close_ico.png')}
.tableWidget .facetSort{border-bottom:1px solid;padding:3px 0;text-align:left;width:100%}
.tableWidget ul li{border-bottom:1px solid;height:20px;padding:3px 0 3px 0}
.tableWidget ul li .filterFacetCheck{float:left;vertical-align:top;cursor:pointer;float:left;line-height:20px;margin-left:5px;width:182px}

.hierarchicalWidget{margin-bottom:20px}
.hierarchicalWidget .facetName{border-bottom:1px solid;cursor:pointer;margin:0;min-height:21px;padding-bottom:3px;width:100%}
.hierarchicalWidget .facetName .hide_show{background-image:url('../images/open_ico.png');display:inline-block;height:11px;margin-right:3px;width:11px}
.hierarchicalWidget .facetName .hide_show.close{background-image:url('../images/close_ico.png')}
.hierarchicalWidget .facetSort{border-bottom:1px solid;padding:3px 0;text-align:left;width:100%}
.hierarchicalWidget li { border-bottom: 1px solid; padding: 3px 0 3px 0; }
.hierarchicalWidget li .filterFacetCheck { cursor: pointer; }

.resultWidget .doc{display:inline-block;margin-bottom:20px;width:570px}
.resultWidget .doc .connector{float:left;height:100%;width:18px}
.resultWidget .doc .res{float:left;height:100%;padding-left:5px;width:547px}
.resultWidget .res .description{margin-top:3px}
.resultWidget .doc .res .address{margin-top:6px}
.resultWidget .doc .res .tags{margin-top:6px}
.resultWidget .bar-loader{display:block;height:32px;margin:0 auto;width:32px}
.videoResultWidget .video{display:inline-block;padding:10px;width:600px}
.videoResultWidget .video .thumbnail{display:block;float:left}
.videoResultWidget .video .length{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;float:left;opacity:.8;padding:1px;position:absolute;margin-top:2px;margin-left:2px}
.videoResultWidget .video .res{float:left;height:100%;padding-left:5px;width:440px}
.videoResultWidget .video .title{height:20px;overflow:hidden;word-wrap:normal;white-space:nowrap}
.videoResultWidget .res .description{height:45px;margin-top:3px;overflow:hidden}
.videoResultWidget .video .res .address{margin-top:6px;overflow:hidden;word-wrap:normal;white-space:nowrap}
.videoResultWidget .video .res .tags{margin-top:6px}
.videoResultWidget .video:hover{border-radius:2px;box-shadow:1px 1px 3px #a1a1a1;cursor:pointer}
.videoResultWidget .video_list.mosaic .video{display:inline-block;margin-right:4px;padding:3px;width:145px}
.videoResultWidget .video_list.mosaic .thumbnail{margin:auto}
.videoResultWidget .video_list.mosaic .res{padding-left:0;width:145px}
.videoResultWidget .video_list.mosaic .res .description{display:none}
.videoResultWidget .video_list.mosaic .res .address{display:none}
.videoResultWidget .video_list.mosaic .res .tags{display:none}
.videoResultWidget .video_list.mosaic .res a span{display:block;height:30px;width:145px}
.pagerModule{margin-top:10px;text-align:center}
.pagerModule .pages .page,.pagerModule .fn{cursor:pointer;display:inline-table;margin-right:5px;min-width:15px;padding:0 2px;text-align:center}
.pagerModule .pages{display:inline-block;overflow:hidden}
.pagerModule .pages .page{border:1px solid;border-radius:5px;height:15px}
.pagerModule .fn{height:17px}
.advancedSearchWidget{width:1000px}
.advancedSearchWidget .advTable{width:100%}
.advancedSearchWidget .separator{border-bottom:1px solid;display:inline-block;margin:15px 0;width:100%}
.advancedSearchWidget .advTable .title,.advancedSearchWidget .advTable .field{display:block;height:40px;width:100%}
.advancedSearchWidget .advTable .left{width:650px}
.advancedSearchWidget .advTable .left label{display:inline-block;width:180px}
.advancedSearchWidget .advTable .inputs{float:right;width:470px}
.advancedSearchWidget .advTable .field input{border:1px solid;display:inline-block;height:25px;margin-bottom:5px;width:450px;border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px}
.advancedSearchWidget .advTable .field.range input{display:inline-block;width:200px}
.advancedSearchWidget .advTable .field.range .to{display:inline-block;text-align:center;width:46px}
.advancedSearchWidget .advTable .right{width:350px}
.advancedSearchWidget button{background:0;border:1px solid;cursor:pointer;float:right;margin-bottom:15px;padding:5px;border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px;width:150px}
.advancedSearchWidget .addInput{clear:both;cursor:pointer;float:right;margin-right:18px;margin-top:5px}
.advancedSearchWidget .removeInput{cursor:pointer;float:right;height:29px;line-height:29px;text-align:center;width:18px}
.promolinkWidget{border:1px solid;-moz-border-radius:4px;border-radius:4px;margin-bottom:15px;padding:10px}
.promolinkWidget .title{display:block;width:460px}
.promolinkWidget .tips{display:block;width:460px}
.spellcheckerWidget{margin:15px 0;width:480px}
.spellcheckerWidget .result{cursor:pointer}
.menuWidget .menu{border:1px solid;position:absolute}
.menuWidget .menu li{cursor:pointer;padding:3px 10px;position:relative;z-index:100}
.menuWidget .menuLink{cursor:default}
* html .ui-autocomplete{width:1px}
.ui-autocomplete{position:absolute;cursor:default}
.ui-autocomplete .ui-state-hover{background-image:none;cursor:pointer}
.ui-slider{position:relative;text-align:left}
.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default}
.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0}
.ui-slider-horizontal{height:.8em}
.ui-slider-horizontal .ui-slider-handle{top:-.3em;margin-left:-.6em}
.ui-slider-horizontal .ui-slider-range{top:0;height:100%}
.ui-slider-horizontal .ui-slider-range-min{left:0}
.ui-slider-horizontal .ui-slider-range-max{right:0}
.ui-slider-vertical{width:.8em;height:100px}
.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em}
.ui-slider-vertical .ui-slider-range{left:0;width:100%}
.ui-slider-vertical .ui-slider-range-min{bottom:0}
.ui-slider-vertical .ui-slider-range-max{top:0}
.ui-slider .ui-widget-header{background-image:none}
.ui-resizable-handle{height:10px}
.favorite_star { background:transparent url('../images/ico_star_off.png') no-repeat center center; display:inline-block; height:12px; margin-left:5px; width:12px; }
.favorite_star.selected, .favorite_star:hover { background-image:url('../images/ico_star_on.png'); }
.favorite_star.selected:hover { background-image:url('../images/ico_star_off.png'); }
.saveSearch { cursor:pointer; float:right; }